* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: white;
}

.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar-logo {
    max-height: 150px;
    margin-left: 10%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}



h1 {
    font-size: 2em;
}

.personalize-button {
    background-color: #d00000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.personalize-button:hover {
    background-color: #a00000;
}

p {
    margin-bottom: 20px;
    font-size: 1.2em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-item {
    background-color: #ccc;
    width: 100%;
    padding-top: 100%; /* Square aspect ratio */
    position: relative;
}

.grid-item::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
