<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <h1> teste para o cliente</h1>
        
        <a href="/cutelaria-pinheiro/facas"> tela de facas</a>

        <h1> tetes para o administrador </h1>

        <a href="/administrador/produtos/listar"> banco de dados de produtos </a></br>
        <a href="/administrador/clientes/listar"> banco de dados de Clientes </a>
    </form>
    
</body>

</html>