<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header Example</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
</head>
<body>

<header class="header-container">
  <div class="container">
      <div class="row align-items-center">
          <div class="col text-center">
              <img src="/images/logo.png" alt="Cutelaria Pinheiro" class="navbar-logo">
          </div>
          <div class="col-auto ms-auto">
              <div class="social-icons">
                  <a href="https://www.facebook.com/cutelariapinheiroltda/"><i class="bi bi-facebook"></i></a>
                  <a href="https://www.instagram.com/cutelariapinheiroltda/"><i class="bi bi-instagram"></i></a>
                  <a href="https://cutelariapinheiro.com.br/"><i class="bi bi-cart"></i></a>
              </div>
          </div>
      </div>

      <nav class="navbar navbar-expand-lg navbar-dark">
          <div class="collapse navbar-collapse justify-content-center">
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a class="nav-link" href="#">Página Inicial</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Produtos</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Personalização</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">FAQ</a>
                  </li>
              </ul>
          </div>
      </nav>
  </div>
</header>

      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/faca1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/faca2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/faca3.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <br><br><br>

      <div class="container text-center my-5">
        <h2>Nossas Linhas</h2>
        <div class="row mt-4">
          <div class="col-md-4">
            <div class="card">
              <img src="/images/faca1.jpg" class="card-img-top" alt="Facas">
              <div class="card-body">
                <h5 class="card-title">
                  <a href="https://cutelariapinheiro.com.br/facas-churrasco/l" class="card-link">Facas Churrasco</a>
              </h5>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img src="/images/faca2.jpg" class="card-img-top" alt="Cutelos">
              <div class="card-body">
                <h5 class="card-title">
                  <a href="https://cutelariapinheiro.com.br/facas-cheff?sort_by=best_sellers" class="card-link">Facas Cheff</a>
              </h5>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img src="/images/facaTatica.jpg" class="card-img-top" alt="Facas Táticas">
              <div class="card-body">
                <h5 class="card-title">
                  <a href="https://cutelariapinheiro.com.br/facas-taticas?sort_by=best_sellers" class="card-link">Facas Táticas</a>
              </h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br><br><br>

      <section class="personalizacao" id="fundo">
        <div class="row align-items-center">
            <div class="col-md-6 text-center">
                <img src="/images/logoFaca.png" alt="Facas Personalizadas" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h1 class="display-4">Personalização de Facas</h1><br>
                <p class="lead">Fazemos facas personalizadas sob encomenda! Podemos trabalhar com você para escolher o tipo de aço, design da lâmina, material do cabo e gravar iniciais ou logotipos. Entre em contato para discutir o seu projeto!</p>
            </div>
        </div>
    </section>

    <br><br>

    <section class="reviews-section py-5">
      <div class="container">
          <h2 class="text-center mb-4">Avaliações de nossos clientes</h2>
          <div class="row">
              <div class="col-md-4 mb-4">
                  <div class="card review-card">
                      <div class="card-body">
                          <div class="stars mb-2">
                              ★★★★★
                          </div>
                          <h5 class="card-title">Top!!</h5>
                          <p class="card-text">
                              "Comprei uma faca para o meu pai e ele ficou encantado! O nome dele gravado na lâmina deixou o presente ainda mais especial. A qualidade do aço e do cabo também é incrível. Super recomendo!"
                          </p>
                          <div class="reviewer-info d-flex align-items-center">
                              <!-- <img th:src="#" alt="Rodrigo Machado" class="rounded-circle reviewer-image"> -->
                              <div class="ms-2">
                                  <p class="mb-0 reviewer-name">Rodrigo Machado</p>
                                  <small>27 de Abril de 2024</small>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-4 mb-4">
                  <div class="card review-card">
                      <div class="card-body">
                          <div class="stars mb-2">
                              ★★★★★
                          </div>
                          <h5 class="card-title">Incrível</h5>
                          <p class="card-text">
                              "A faca personalizada que comprei foi além das expectativas. Ótimo acabamento, super afiada e ainda com meu nome gravado. Um produto de qualidade que vai durar a vida toda."
                          </p>
                          <div class="reviewer-info d-flex align-items-center">
                              <!-- <img th:src="#" alt="Fernando Almeida" class="rounded-circle reviewer-image"> -->
                              <div class="ms-2">
                                  <p class="mb-0 reviewer-name">Fernando Almeida</p>
                                  <small>4 de Julho de 2024</small>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              
              <div class="col-md-4 mb-4">
                  <div class="card review-card">
                      <div class="card-body">
                          <div class="stars mb-2">
                              ★★★★★
                          </div>
                          <h5 class="card-title">Fenomenal</h5>
                          <p class="card-text">
                              "Minha experiência foi ótima! Além de ser uma faca linda, a personalização deu um toque especial. O atendimento foi super atencioso e a entrega foi rápida. Valeu muito a pena!"
                          </p>
                          <div class="reviewer-info d-flex align-items-center">
                              <!-- <img th:src="#" alt="Carlos Roberto" class="rounded-circle reviewer-image"> -->
                              <div class="ms-2">
                                  <p class="mb-0 reviewer-name">Carlos Roberto</p>
                                  <small>6 de fevereiro de 2024</small>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <br><br><br>

  <div class="titulofaq">
    <h2 id="FAQ">Perguntas Frequntes</h2><br>
    <h5 id="sub">Tire suas dúvidas aqui!</h5>
  </div>
  
  <div class="accordion-container">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Como faço para manter minha faca afiada?
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Recomendamos o uso regular de uma chaira para manter o fio da faca. Quando necessário, a faca deve ser afiada em uma pedra de amolar ou você pode nos trazer para uma afiação profissional. Evite superfícies duras como vidro ou mármore, pois podem danificar o fio.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Qual é o tempo de produção para uma faca personalizada?
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            O tempo de produção varia dependendo da complexidade do pedido, mas geralmente leva de 4 a 8 semanas. Podemos fornecer um prazo mais específico após discutirmos os detalhes da sua faca.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Qual é o tempo de produção para uma faca personalizada?
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            O tempo de produção varia dependendo da complexidade do pedido, mas geralmente leva de 4 a 8 semanas. Podemos fornecer um prazo mais específico após discutirmos os detalhes da sua faca.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            Qual é o tempo de produção para uma faca personalizada?
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            O tempo de produção varia dependendo da complexidade do pedido, mas geralmente leva de 4 a 8 semanas. Podemos fornecer um prazo mais específico após discutirmos os detalhes da sua faca.
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="accordion-comentario">
    Não encontrou sua dúvida? Contate a gente no Whatsapp! <a href="https://wa.me/5519999968903"><i class="bi bi-whatsapp"></i></a>
  </div><br><br><br><br><br>

  <section class="mestre-artesão" id="fundomestre">
    <div class="row align-items-center">
        <div class="col-md-6 text-center">
            <img src="/images/mestreArtesao.jpg" alt="mestre" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h1 class="display-4">Mestre Artesão </h1>
            <p class="lead">Vagner Pinheiro<br>
              Cuteleiro e especialista em forjas facas artesanais<br><br>
              Embora eu tenha sido treinado em diferentes áreas no decorrer da vida, encontrei uma conexão com a arte tradicional de criar instrumentos de cortes artesanais.</p>
        </div>
    </div>
</section>

<br><br><br><br><br>

  <footer class="footer py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4 text-white">
                <img src="/images/logo.png" alt="Logo" class="footer-logo mb-3">
                <p>"A Cutelaria é uma arte milenar que une habilidade e precisão na criação de facas e outros utensílios cortantes, com o objetivo de oferecer não apenas funcionalidade, mas também beleza e durabilidade. Cada peça é única e representa o trabalho árduo e a paixão do artesão pela sua arte."</p>
            </div>
            <div class="col-md-4 mb-4">
                <h5 class="text-white" id="info">Informações</h5>
                <ul class="list-unstyled">
                    <li><a href="https://cutelariapinheiro.com.br/atendimento/httpscutelariapinheirocombr" class="footer-link">POLÍTICA DE TROCA, DEVOLUÇÃO E ARREPENDIMENTO</a></li>
                    <li><a href="https://cutelariapinheiro.com.br/atendimento/politica-de-troca-devolucao-e-arrependimento" class="footer-link">Política de Privacidade</a></li>
                    <li><a href="https://cutelariapinheiro.com.br/atendimento/termo-de-uso" class="footer-link">Termo de Uso</a></li>
                </ul>
                <div class="social-icons">
                  <a href="https://www.facebook.com/cutelariapinheiroltda/"><i class="bi bi-facebook"></i></a>
                  <a href="https://www.instagram.com/cutelariapinheiroltda/"><i class="bi bi-instagram"></i></a>
                  <a href="https://cutelariapinheiro.com.br/"><i class="bi bi-cart"></i></a>
              </div>
            </div>
            <div class="col-md-4 mb-4">
                <h5 class="text-white">Contato</h5>
                <i class="bi bi-whatsapp">  </i><a href="https://wa.me/5519999968903">Whatsapp</a>

                <p><i class="bi bi-telephone"></i>19 99996-8903</p>
            </div>
        </div>
        <hr class="bg-light">
        <div class="text-center text-white mt-3">
            <p>Rua Seringueira 218 - Jardim da Alvorada - Nova Odessa</p>
            <p>CNPJ: 41.367.687/0001-85</p>
            <p>© 2024 Cutelaria Pinheiro</p>
        </div>
    </div>
</footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
