<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Adicionar Produto</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1>Adicionar Produto</h1>
        <form th:action="@{/administrador/produtos/salvar}" th:object="${produto}" method="post" enctype="multipart/form-data">
            
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" th:field="*{nome}" placeholder="Nome do Produto" required>
            </div>
            <div class="form-group">
                <label for="categoria">Categoria</label>
                <select class="form-control" id="categoria" th:field="*{categoria}" required>
                    <option value="" disabled selected>Selecione uma categoria</option>
                    <option value="Faca de Cheff Profissional">Faca de Cheff Profissional</option>
                    <option value="Faca de Churrasco">Faca de Churrasco</option>
                    <option value="Faca de Caça e Aventura">Faca de Caça e Aventura</option>
                    <option value="Facas Tradicionais Artesanais">Facas Tradicionais Artesanais</option>
                </select>
            </div>
            <div class="form-group">
                <label for="file">Foto</label>
                <input type="file" class="form-control" id="file" name="file" required>
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="#" th:href="@{/administrador/produtos/listar}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</body>

</html>